{% extends 'base.html' %}
{% block content %}

<form method="post">
    <div class="mb-3">
        <label class="form-label" for="past_password">Старый пароль</label>
        <input 
            class="form-control {% if 'past_password' in errors %} is-invalid {% endif %}" 
            type="password" 
            name="past_password" 
            id="past_password"
        >
        <div class="invalid-feedback">
            {{ errors.get('past_password') }}
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="new_password">Новый пароль</label>
        <input 
            class="form-control {% if 'new_password' in errors %} is-invalid {% endif %}" 
            type="password" 
            name="new_password" 
            id="new_password"
        >
        <div class="invalid-feedback">
            {{ errors.get('new_password') }}
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="repeat_password">Повторите пароль</label>
        <input 
            class="form-control {% if 'repeat_password' in errors %} is-invalid {% endif %}" 
            type="password" 
            name="repeat_password" 
            id="repeat_password"
        >
        <div class="invalid-feedback">
            {{ errors.get('repeat_password') }}
        </div>
    </div>

    <button class="btn btn-primary">Сохранить</button>
</form>

{% endblock %}